a {
  color: #7f71ff;
}

a:hover {
  color: #aaa0ff;
}

body {
  background-color: #fff2e6;
  overflow: hidden;
  overscroll-behavior-y: contain;
}

h1,
h2 {
  color: #ff6453;
  font-family: Helvetica, sans-serif;
  font-size: min(8vw);
  font-style: italic;
  margin: 1vmin;
  text-align: left;
  white-space: nowrap;
}

h3 {
  color: #7f71ff;
  font-family: Helvetica, sans-serif;
  font-size: min(8vw);
  font-style: italic;
  margin: 1vmin;
  text-align: right;
  white-space: nowrap;
}