
  a {
    text-decoration:none; 
    color:#242424;
  }

  body {
    background-color:#fff2e6;
  }

  h1, h2 {
    margin: 1vmin; 
    font-style: italic; 
    font-family: Helvetica, sans-serif; 
    text-align: left; 
    font-size: min(8.5vw); 
    white-space: nowrap;
  }

  h3 {
    margin: 1vmin; 
    font-style: italic; 
    font-family: Helvetica, sans-serif; 
    text-align: right; 
    font-size: min(8.5vw); 
    white-space: nowrap;
  }
